.hero-three {
    position: relative;
    height: 60rem;
    background: #9e7d5f;
    color: white;
}

.delight-text-container {
    position: absolute;
    left: 40%;
    bottom: 65%;
}

.delight-card {
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: 70%;
    top: 10%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    color: #9e7d5f;
    padding: 1.5rem;
}